 <nav class="navbar">
        <div class="container">
          
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="">Products</a></li>
                <li><a href="/login">login</a></li>
                <li><a href="user-register">user-register</a></li>
            </ul>
        </div>
    </nav>
